.card-body{
    text-align: center;
    
   
}
.card-text{
    height: 10rem;
}
#currLake{
    text-align: center;
}
.card{
    margin-left: 5rem;
    margin-right: 5rem;
}
.frame{
    display: flex;
    justify-content: center;
    
}
.card-img-top{
    height: 15rem;
}