#currLake{
    margin-top: 2rem;
    font-size: large;
    font-weight: bold;
}

.card-body{
    text-align: center;
    
   
}
.card-text{
    height: 10rem;
}
#currLake{
    text-align: center;
}
.card{
    margin-left: 5rem;
    margin-right: 5rem;
    border: 0;
}
.frame{
    display: flex;
    justify-content: center;
    
}
.card-img-top{
    height: 15rem;
    filter: drop-shadow(15px 5px 30px rgba(0, 0, 0, 0.616));

  
    
}