.card{
    align-items: center;
   
    border:none;
    text-align: center;
    
}

.card-text{
height:8rem
}

.card-img-top{
    width: 20rem;
    height: 10rem;
}
.regTxt{
font-size: 90%
}
footer{
    margin-bottom: 1rem;
    text-align: center;
}


@media only screen and (min-width: 300px) {
    .card-text{
    height:auto;
    font-size: 80%;
    }
    .card-img-top{
        width: 10rem;
        height: 5rem;
  }
}



