.card{
    align-items: center;
    border:none;
    text-align: center;
    
}

.card-text{
height:auto;
}

.card-img-top{
    width: 20rem;
    height: 10rem;
}
.regTxt{
font-size: 90%
}
footer{
    margin-bottom: 1rem;
    text-align: center;
}


@media only screen and (min-width: 200px) {
    .card-text{
    font-size: 80%;
    }
    .card-img-top{
        width: 10rem;
        height: 5rem;
  }
}



