#currLake{
    margin-top: 2rem;
    font-size: large;
    font-weight: bold;
}

.btn{
    
    width: 50%;
}
.card-body{
    text-align: center;
    
   
}
.card-title{
    font-size: 2rem;
}
.card-group{
    justify-content: center;
}
.card-text{
    text-align: left;
    height:auto;
}
#currLake{
    text-align: center;
    font-size:2rem
}
.card{
    margin-left: 5rem;
    margin-right: 5rem;
    border: 0;
    align-items: center;
    
}
.frame{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    
}
.card-img-top{
    height: 15rem;
    filter: drop-shadow(15px 5px 30px rgba(0, 0, 0, 0.616));
    
  
    
}




@media only screen and (min-width: 180px) {
    .card{
        
        margin-left: 3rem;
        margin-right: 3rem;
    }
    body{
        margin-bottom: 
        2rem;
    }
}

@media only screen  and (min-width:576px){
    .card{
        margin-left: 1rem;
        margin-right: 1rem;
    }
  
    
}




